@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}


.title{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.container {
  max-width: 730px;
  margin: 15px;
  margin-right: 5px;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  float: left;
}

.container2 {
  max-width: 550px;
  min-width: 550px;
  margin: 15px;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  float: right;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size:13px;
}

.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size:5px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn-block {
  display: block;
  width: 100%;
}

.syarat {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
}


.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 10px 0;
}


.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}


.form-control2 {
  display: inline-block;
  margin: 10px ;
  margin-top: 5px;
  margin-right: 50px;
  margin-left: 50px;
}


.form-control2 label {
  display: block;
}

.form-control2 input {
  width: 100%;
  height: 40px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control2-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control2-check label {
  flex: 1;
}

.form-control2-check input {
  flex: 2;
  height: 20px;
}